/* ---- variables ----*/
$color-white: rgba(255,255,255,1);
$color-pink: rgba(248,114,121,1);
$color-dark-pink: rgba(216,67,73,1);
$scale-color-light: #FFDFE1;
$scale-color-dark: #D00D1E;
$scale-steps: 5;

/* ---- fonts ----*/
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font40 {
  font-size: 40px;
}
.font-bold {
  font-weight: 900;
}

/* ---- styles for widget ----*/
body * {
  font-family: 'Open Sans', sans-serif;
  color: $color-white;
}

.weather-container {
  width: 272px;
  margin: 40px auto;
  -webkit-box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.69);
  box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.69);

  > div {
    box-sizing: border-box;
    text-align: center;

    &:first-child {
      background-color: $color-pink;
      height: 290px;
      padding: 40px;
    }
    &:last-child {
      background-color: $color-dark-pink;
      height: 80px;
      padding: 18px;
    }
  }

  #time {
    margin-top: 3px;
  }
  .select-box {
    position: relative;

    select {
      background-color: $color-pink;
      outline: none;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  }

  .temp-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    #temp-scale {
      display: flex;

      > div{
        width: 25px;
        height: 25px;
        display: flex;
      }

      @for $i from 0 to ($scale-steps) {
        #block-#{$i + 1} {
          background: mix($scale-color-dark, $scale-color-light, percentage($i / ($scale-steps - 1)));
        }
      }
    }
  }

  .wind-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    * {
      margin: 0 5px;
    }
  }
}
